body {
 background-color: #DDD8B8;
 padding: 2%;
 }

 .meuNome {
    text-align: center;
 }

.descricao {
 font-family: 'Roboto Slab', serif;
 position: absolute;
 top: 40%;
 left: 310px;
 }

 em {
 color: blueviolet;
 }

.c {
    font-size: 20px;
}

 .cakephp {
 font-size: 19px;
 }

 .css-3 {
 font-size: 18px;
 }

 .html-5 {
 font-size: 17px;
 }

 .java {
 font-size: 16px;
 }

 .javascript {
 font-size: 15px;
 }

 .metoAgil {
    font-size: 14px;
 }

 .php {
 font-size: 13px;
 }

 .sql {
 font-size: 12px;
 }

#minha-foto {
    float: left;
    height: 280px;
    padding: 10px;
    background-color: blueviolet;
}

.image-container {
    height: 300px;
    position: relative;
}

ul li:nth-child(odd) {
    background-color: aqua;
}